/* CodeCake global styles */
.CodeCake {
    font-family: "Source Code Pro", monospace;
    letter-spacing: normal;
}
.CodeCake-editor,
.CodeCake-lines {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.CodeCake-lines {
    text-align: right;
}

/* CodeCake light theme */
.CodeCake-light .CodeCake-editor, 
.CodeCake-light .CodeCake-lines {
    background-color: #ffffff;
    color: #000000;
}

.CodeCake-light .token-operator, 
.CodeCake-light .token-number {
    color: #e57697;
}
.CodeCake-light .token-punctuation {
    color: #3a464e;
}
.CodeCake-light .token-keyword {
    color: #b351d9;
}
.CodeCake-light .token-constant {
    color: #20118a;
}
.CodeCake-light .token-tag {
    color: #3a9ff2;
}
.CodeCake-light .token-attribute {
    color: #f38d00;
}
.CodeCake-light .token-string {
    color: #00a17d;
}
.CodeCake-light .token-comment {
    color: #969896;
}

/* CodeCake dark theme */
