/* CodeCake global styles */
.CodeCake {
    font-family: "Source Code Pro", monospace;
    letter-spacing: normal;
    padding: 24px;
}
.CodeCake-editor {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.CodeCake-lines {
    font-size: 12px;
    line-height: 20px;
    text-align: right;
}

/* Editor scrollbar */
.CodeCake-editor::-webkit-scrollbar {
    width: 8px;
}
.CodeCake-editor::-webkit-scrollbar-track {
    background-color: transparent;
}
.CodeCake-editor::-webkit-scrollbar-thumb {
    border-radius: 16px;
}
.CodeCake-editor::-webkit-scrollbar-button {
    display: none;
}

/* CodeCake light theme */
.CodeCake-light {
    background-color: #ffffff;
}
.CodeCake-light .CodeCake-editor {
    color: #000000;
}
.CodeCake-light .CodeCake-editor::-webkit-scrollbar-thumb {
    background-color: #dedfe3;
}
.CodeCake-light .CodeCake-editor::-webkit-scrollbar-thumb:hover {
    background-color: #cbccd2;
}
.CodeCake-light .CodeCake-lines {
    /* color: #6cb1c5; */
    color: #878a98;
}

.CodeCake-light .token-operator, 
.CodeCake-light .token-number,
.CodeCake-light .token-unit {
    color: #e57697;
}
.CodeCake-light .token-punctuation, 
.CodeCake-light .token-property {
    color: #3a464e;
}
.CodeCake-light .token-keyword {
    color: #b351d9;
}
.CodeCake-light .token-constant {
    color: #20118a;
}
.CodeCake-light .token-tag,
.CodeCake-light .token-function {
    color: #3a9ff2;
}
.CodeCake-light .token-attribute,
.CodeCake-light .token-selector {
    color: #f38d00;
}
.CodeCake-light .token-string {
    color: #00a17d;
}
.CodeCake-light .token-comment {
    color: #969896;
}

/* CodeCake dark theme */
.CodeCake-dark {
    background-color: #272b3f;
}
.CodeCake-dark .CodeCake-editor {
    color: #aab2d4;
}
.CodeCake-dark .CodeCake-editor::-webkit-scrollbar-thumb {
    background-color: #99aaff15;
}
.CodeCake-dark .CodeCake-editor::-webkit-scrollbar-thumb:hover {
    background-color: #99aaff22;
}
.CodeCake-dark .CodeCake-lines {
    color: #757ca3;
}

.CodeCake-dark .token-attribute,
.CodeCake-dark .token-selector {
    color: #80d0ff;
}
.CodeCake-dark .token-comment {
    color: #58628d;
}
.CodeCake-dark .token-constant, 
.CodeCake-dark .token-number {
    color: #ffae80;
}
.CodeCake-dark .token-function {
    color: #22c1dd;
} 
.CodeCake-dark .token-tag {
    color: #6e9af7;
}
.CodeCake-dark .token-keyword {
    color: #af89f5;
}
.CodeCake-dark .token-operator {
    color: #ad388c;
}
.CodeCake-dark .token-property {
    color: #bdc7f5;
}
.CodeCake-dark .token-punctuation {
    color: #8bb3f4;
}
.CodeCake-dark .token-string {
    color: #9bcd65;
}
.CodeCake-dark .token-unit {
    color: #dd556e;
}
